---
layout: default
title: Tutoriales, Programación, Tips
---
<div class="index-wrapper">
    
    <div class="jumbotron">
        <h1>Aprende Desarrollo de Software</h1>

        <p>Hola, mi nombre es Giovanni Cortés, y me gusta <strong>hacer videos y escribir sobre
            Swift, Elixir, Python y en general sobre programación</strong>. He sido desarrollador
            por 5 años y me gusta <strong>ayudar a las personas a aprender sobre tecnología</strong>.
        </p>
        <p>
            En mi blog escribo tips y tutoriales para aquellos que quieran <strong>aprender a programar</strong>; 
            generalmente son para principiantes, pero también escribo cosas más avanzadas por si quieres hacer 
            algo en particular. Si tienes algún tema o quieres contarme algo, no dudes en contactarme.
        </p>
    </div>

    <div class="row">
        <h2>Últimos artículos del blog</h2>
        {% for post in site.posts limit:6 %}
            {% if post.categories[0] != "video" %}
            <div class="col-md-4 index-image-post">
                <a href="{{ post.url }}">
                    <img src="{{ post.featured_image }}" alt="{{ post.title }}" class="img-thumbnail">
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="email-cta-box">
        <h3>Software Development Tips</h3>
        <div class="email-cta-info">
            Obtén cada semana un poco de información sobre Desarrollo y Tips de Programación. Prometo no enviar spam. Puedes cancelar tu suscripción en
            cualquier momento.
        </div>
        {% include subscribe_general.html %}
    </div>
</div>
