---
layout: default
title: Aprendiendo Elixir y Swift
---
<div class="index-wrapper">

    <div class="row">
        <h2>Cursos</h2>
        <div class="col-md-4 tutorial-outline">
            <a href="/introduccion-a-elixir/">
                <img src="/assets/img/elixir_curso/elixir_curso_logo.jpg" alt="Tutorial Elixir">
                <h2>Introducción a Elixir</h2>
                <p>
                    Una introducción a Elixir. En este curso vas a
                    aprender los conceptos básicos de este lenguaje y conocerás
                    cómo hacer aplicaciones concurrentes y tolerante a fallos.
                </p>
            </a>
        </div>
    </div>

    <div class="row">
        <h2>Últimos artículos del blog</h2>
        {% for post in site.posts limit:6 %}
            {% if post.categories[0] != "video" %}
            <div class="col-md-4 index-image-post">
                <a href="{{ post.url }}">
                    <img src="{{ post.featured_image }}" alt="{{ post.title }}" class="img-thumbnail">
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="email-cta-box">
        <h3>Tips de programación</h3>
        <div class="email-cta-info">
            Obtén cada semana un poco de información y Tips de desarrollo de iOS y macOS y otros temas de programación.
            Prometo no enviar spam. Puedes cancelar tu suscripción en cualquier momento.
        </div>
        {% include subscribe_general.html %}
    </div>
</div>