---
layout: default
title: Aprende Swift y Elixir
---
<div class="index-wrapper">
    
    <div class="jumbotron">
        <h1>Aprende Swift y Elixir</h1>

        <p>Hola, mi nombre es Giovanni Cortés, y me gusta <strong>hacer videos y escribir sobre
            Swift, Elixir, Python y en general sobre programación</strong>. He sido desarrollador
            por 5 años y me gusta <strong>ayudar a las personas a aprender sobre tecnología</strong>.
        </p>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Ve algunos videos para introducirte al Desarrollo de Software</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 video-box">
            <article>
                <h3>
                    <a href="">Tips</a>
                </h3>
            </article>
        </div>

        <div class="col-xs-4 video-box">
            <article>
                <h3>
                    <a href="">Swift</a>
                </h3>
            </article>
        </div>

        <div class="col-xs-4 video-box">
            <article>
                <h3>
                    <a href="">Elixir</a>
                </h3>
            </article>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Últimos artículos</h2>

            <section class="site-section">
                <ul class="post-list">
                {% for post in site.posts limit:5 %}
                    {% if post.categories[0] != "video" %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </section>
        </div>
    </div>

    <div class="email-cta-box">
        <h3>Swift y Elixir Development Tips</h3>
        <div class="email-cta-info">
            Obtén cada semana un poco de información sobre Swift y Desarrollo de Software. Prometo no enviar spam. Puedes cancelar tu suscripción en
            cualquier momento.
        </div>
        {% include subscribe_general.html %}
    </div>
</div>
