<div class="jumbotron title-background">
    <div class="container">
        <h1>Giovanni Cortés</h1>
        <p>Aprendiendo Elixir y Swift.</p>
    </div>
</div>

<div class="navbar navbar-default navbar-static-top" id="nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse">
        </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/videos/"><i class="glyphicon glyphicon-film"></i> Videos</a></li>
                <li><a href="/blog/"><i class="glyphicon glyphicon-pencil"></i> Blog</a></li>
                <li><a href="https://rincondev.com/" target="_blank"><i class="fa fa-podcast"></i> Podcast</a></li>
                <li><a href="/archivos/"><i class="glyphicon glyphicon-folder-open"></i> Archivos</a></li>
                <li><a href="/acerca/"></i> Acerca</a></li>
            </ul>
        </div>
    </div>
</div><!-- end nav bar -->
