<div class="container-fluid about-background">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                      <img src="/assets/img/FullSizeRender.jpg" alt="Giovanni Cortes" class="img-responsive author">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="aboutauthor">Acerca del Autor</h2>

                        <p>¡Hola!, mi nombre es Giovanni Cortes y vivo en la 
                          Ciudad de México. Me gusta todo lo relacionado con 
                          desarrollo de Apps para iOS y macOS, Elixir, Python y en general sobre programación.
                        </p>
                        <p>He sido desarrollador por más de 5 años escribiendo en lenguajes como Python, C#, Elixir, Swift y Objective-C. Actualmente me enfoco en crear soluciones de DevOps con AWS principalmente y crear aplicaciones de iOS usando Swift y 
                          Objective-C. Actualmente soy Freelance y Consultor en iOS y Elixir.</p>
                        <p>
                          Este sitio web lo he creado porque otra de las cosas que más
                          me gustan es enseñar, y este sitio me permite ayudar a quienes están
                          empezando o quieren conocer más acerca de programación. Ya para terminar,
                          si tienes algún comentario o sugerencia o sientes que algo está confuso me gustaría
                          conocerlo, esto me ayuda a mejorar el sitio.
                        </p>
                        <p>
                          Mándame un mensaje a <a href="mailto:g@giovannicortes.com">g@giovannicortes.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid using-background">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h2 class="aboutauthor">Usando los cursos</h2>
                        <p>
                          Todo el contenido gratis está licenciado bajo <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.</a>
                        </p>
                        <p>
                          Eres libre de compartir y adaptar el contenido siempre y cuando me des crédito y
                          lo uses para propósitos no comerciales. Igualmente si cambias parte del contenido debes destribuirlo
                          bajo las mismas condiciones.
                        </p>
                        <p>Si eres maestro o alumno y estás usando alguna parte de mis cursos, me gustaría 
                          saber cómo puedo ayudarte y mejorar los cursos ya que siempre es bueno tener ayuda de los demás.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="/assets/img/bookmark_256.png" alt="Using" class="img-responsive author">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid disclaimer-background">
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                      <img src="/assets/img/devops.jpg" alt="Giovanni Cortes" class="img-responsive author">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="aboutauthor">Disclaimer</h2>

                        <p>
                          Desafortunadamente, en este mundo loco y litigioso en el que ahora vivimos, uno tiene que mantenerse cubierto, así que aquí está mi descargo de responsabilidad.
                        </p>
                        <p>
                            Según mi leal saber y entender, el material contenido en estas 
                            páginas es correcto. Sin embargo, no garantizo nada. 
                            Tampoco me responsabilizo por ningún daño que pueda 
                            hacer en base al conocimiento adquirido aquí (aunque 
                            las posibilidades de hacerlo son relativamente 
                            pequeñas en el mejor de los casos). Utilice el 
                            sentido común al usar cualquiera de los conocimientos 
                            y habilidades adquiridos al usar este material.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>