<gcse:search></gcse:search>

<div class="sidebar-card">
    <h4>Suscríbete al newsletter</h4>
    <div class="content">
        <div class="email-cta-box">
            <div class="email-cta-info">
                Suscríbete a la lista de correos para tener las actualizaciones del sitio y obtén
                mis 10 tips para enseñarte a tí mismo a programar.
            </div>
            <br>
            {% include subscribe_general.html %}
        </div>
    </div>
</div>

<div class="sidebar-card">
    <h4>Social</h4>
    <div class="content">
        <ul class="list-inline">
            <li>
                <a href="https://twitter.com/giovanni_cortes" target="_blank">
                    <i class="fa fa-twitter fa-fw"></i> Twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/agiovannicortes" target="_blank">
                    <i class="fa fa-facebook fa-fw"></i> Facebook
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCcX7Q7xMAZ3u4QV-Ft44V9A" target="_blank">
                    <i class="fa fa-youtube-play fa-fw"></i> YouTube
                </a>
            </li>
            <li>
                <a href="http://feeds.feedburner.com/giovannicortesblog" target="_blank">
                    <i class="fa fa-rss fa-fw"></i> RSS
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="sidebar-card">
    <h4>Categorías</h4>
    <div class="content">
        <ul class="list-unstyled">
            <li><a href="/gamedev/">GameDev</a></li>
            <li><a href="/devops/">DevOps</a></li>
            <li><a href="/swift/">Swift</a></li>
            <li><a href="/elixir/">Elixir</a></li>
            <li><a href="/python/">Python</a></li>
            <li><a href="/linux/">Linux</a></li>
            <li><a href="/flutter/">Flutter</a></li>
            <li><a href="/general/">General</a></li>
        </ul>
    </div>
</div>

<div class="sidebar-card">
    <h4>Timeline</h4>
    <a class="twitter-timeline" href="https://twitter.com/giovanni_cortes" data-tweet-limit="4">
    </a>
</div>

<div class="sidebar-card">
    <div class="fb-page" data-href="https://www.facebook.com/agiovannicortes/" data-small-header="false"
        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/agiovannicortes/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/agiovannicortes/">Giovanni
                Cortes</a></blockquote>
    </div>
</div>

<!-- Facebook Widget-->
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=1942740446000237&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script>
    (function () {
        var cx = '000828491490601290410:yfigirevjco';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();

    twttr.widgets.createTimeline(
        {
            sourceType: "profile",
            screenName: "giovanni_cortes"
        },
        document.getElementById("container")
    );
</script>