$font-stack: "Source Sans Pro", "Helvetica", Arial;
$body-font-color: #000;

$spacing-unit:  30px !default;

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Custom Styles for bootstrap

body {
	font-family: $font-stack;
}

.navbar {
	background: #373e42;
}

.navbar-default .navbar-brand {
    color: #e2e1e6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d2d1d6;
}

.navbar-default .navbar-nav > li > a {
    color: #e2e1e6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d2d1d6;
}

.jumbotron {
	background-color: #fff;
	font-family: $font-stack;
	margin-bottom: -40px;
}

// Custom styles

.full-page-content {
	max-width: 900px;
}

input[type="submit"], button {
	background-color: #e85c41;
	border-radius: 3px;
	border: none;
	box-shadow: none;
	color: #fff;
	display: block;
	flex-grow: 1;
	margin: 0 auto;
	padding: 15px 1em;
}

input[type="email"] {
	border: solid 5px #c9c9c9;
	box-shadow: none;
	flex-grow: 1;
	padding: 10px;
	transition: border 0.3s;
	width: 50%;
}

// Index
.index-wrapper {

	ul {
		list-style: none;
		margin-left: -2em;
	}

	.email-cta-box {
		border: 1px #222 dotted;
		margin-bottom: 1em;
		padding-bottom: 1.5em;
		padding: 1em;
	}

	font-size: 1.4em;
}

.suscribe-wrapper {
	ul {
		list-style: none;
		margin-left: -2em;
	}

	.email-cta-box {
		border: 1px #222 dotted;
		margin-bottom: 1em;
		padding-bottom: 1.5em;
		padding: 1em;
	}
}

.index-image-post {
	margin-bottom: 15px;
}

// Pages

.page-content {

	.img-responsive {
		margin: 0 auto;
	}

	.author {
		border-radius: 100%;
		max-width: 30%;
	}

	.featured {
		margin: 20px auto;
		max-width: 70%;
	}

	h1 {
		font-size: 2em;
		font-weight: bold;
		text-align: center;
	}

	font-size: 1.4em;
	padding: 10px;
}

// Archives
.archive-post-list {
	ul {
		list-style: none;
	}

	a:hover {
		text-decoration: none;
	}

	span {
		color: #777;
	}
}

// Posts

.post {
	h2 {
		font-size: 3em;
		font-weight: 900;
		text-align: center;

		a {
			color: $body-font-color;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

.featured-image {
	height: 50%;
	width: 100%;
}

.excerpt {
	font-size: 1.5em;
	line-height: 1.4em;
	margin: 20px 0;
}

hr {
	border-top: 1px solid #ccc;
	border: 0;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

// Post content

.post-header {
	h2 {
		font-size: 3em;
		font-weight: 900px;
		line-height: 1.1em;
		margin-bottom: 1em;
		margin-top: 1em;
	}
}

.entry-meta {
	margin-bottom: 30px;
	margin-top: -2em;

	span {
		margin-right: 10px;
	}

	.fa {
		display: inline-block;
		margin-right: 3px;
	}

	p {
		display: inline-block;
	}

	a {
		color: $body-font-color;
		text-decoration: none;
	}

	a:hover {
		color: $body-font-color;
	}
}

.post-body {
	img {
		margin-bottom: 20px;
		width: 100%;
	}

	font-size: 1.4em;

	.image-post {
		display: inline-block;
		margin: 0 auto;
		width: 50%;
	}

}

.center-image {
	text-align: center;
}

#disqus_thread {
	margin-bottom: 2em;
	margin-top: 2em;
}

// Footer
footer {
  
  a {
  	background-color: #222;
		color: #eee;
  }

	.fa-heart {
		color: #ff0000;
	}

	background-color: #222;
	color: #eee;
	font-size: 1.1em;
	padding: 20px 0;
}

footer a:hover {
	color: #ddd;
	text-decoration: none;
}
