$font-stack: "Source Sans Pro", "Helvetica", Arial;


$spacing-unit:  30px !default;

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Custom Styles for bootstrap

body {
	font-family: $font-stack;
}

.navbar {
	background: #373e42;
}

.navbar-default .navbar-brand {
    color: #e2e1e6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d2d1d6;
}

.navbar-default .navbar-nav > li > a {
    color: #e2e1e6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d2d1d6;
}

.jumbotron {
	background-color: #fff;
	font-family: $font-stack;
}

// Custom styles

.full-page-content {
	max-width: 900px;
}

.index-wrapper {

	ul {
		list-style: none;
		margin-left: -2em;
	}

	font-size: 1.4em;
}

// Pages

.page-content {

	.img-responsive {
		border-radius: 100%;
		max-width: 30%;
		margin: 0 auto;
	}

	font-size: 1.4em;
}

// Posts

.post {
	h2 {
		font-size: 3em;
		font-weight: 900;
		text-align: center;

		a {
			color: #000;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

.featured-image {
	height: 50%;
	width: 100%;
}

.excerpt {
	font-size: 1.5em;
	line-height: 1.4em;
	margin: 20px 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

// Post content

.post-header {
	h2 {
		font-size: 3em;
		font-weight: 900px;
		line-height: 1.1em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.entry-meta {
	margin-top: -2em;
	margin-bottom: 30px;

	span {
		margin-right: 10px;
	}

	.fa {
		display: inline-block;
		margin-right: 3px;
	}

	p {
		display: inline-block;
	}
}

.post-body {
	img {
		margin-bottom: 20px;
		width: 100%;
	}

	font-size: 1.4em;

}

#disqus_thread {
	margin-bottom: 2em;
	margin-top: 2em;
}

// Footer
footer {
  
  a {
  	background-color: #222;
		color: #eee;
  }

	.fa-heart {
		color: #ff0000;
	}

	background-color: #222;
	color: #eee;
	font-size: 1.1em;
	padding: 20px 0;
}

footer a:hover {
	color: #ddd;
	text-decoration: none;
}
