$title-font-stack: 'Montserrat', sans-serif;
$body-font-stack: 'Roboto', sans-serif;
$main-background-color: #f9f9f9;
$main-text-color: #3a3a3a;
//$highlight-color: #2482e8;
$highlight-color: #e85c41;
$body-font-color: #59594A;

$spacing-unit:  30px !default;

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/* Custom CSS */
hr.dashed {
  border-style: dashed;
}


article {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
  }
}